@page "/management/cataloguescanstates"

@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Logging
@using CatalogueScanner.ConfigurationUI.Service

@inject IStringLocalizer<CatalogueScanStates> S
@inject CatalogueScanStateService CatalogueScanStateService
@inject HttpExceptionHandlingService HttpExceptionHandlingService
@inject BrowserTimeProvider TimeProvider

<div>
    <MudText Typo="Typo.h3" Class="table-page-header">Catalogue Scan States</MudText>

    <div class="date-range-row">
        <MudDateRangePicker Variant="Variant.Outlined" Class="date-range-picker" DateRange="lastOperation" DateRangeChanged="OnDateRangeChanged" Label="Last operation time (Local)" />
        <MudTooltip Class="date-range-refresh" Text="Refresh">
            <MudIconButton Icon="@Icons.Material.Filled.Refresh" OnClick="@(args => OnDateRangeChanged(lastOperation))"></MudIconButton>
        </MudTooltip>
    </div>

    <MudTable ServerData="LoadServerData" Loading="loading" @bind-RowsPerPage="PageSize" @ref="table">
        <HeaderContent>
            <MudTh></MudTh>
            <MudTh>Catalogue Type</MudTh>
            <MudTh>Store</MudTh>
            <MudTh>Catalogue ID</MudTh>
            <MudTh>Scan State</MudTh>
            <MudTh>Last operation time (local)</MudTh>
        </HeaderContent>

        <RowTemplate Context="scanState">
            @if (hasNoData)
            {
                <MudTd colspan="6">No data available.</MudTd>
            }
            else
            {
                <MudTd class="actions">
                    <MudTooltip Text="Reset">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(args => ResetScanState(scanState))" />
                    </MudTooltip>
                </MudTd>

                <MudTd class="catalogue-type">
                    @scanState.CatalogueScanStateKey.CatalogueType
                </MudTd>

                <MudTd class="store">
                    @scanState.CatalogueScanStateKey.Store
                </MudTd>

                <MudTd class="catalogue-id">
                    @scanState.CatalogueScanStateKey.CatalogueId
                </MudTd>

                <MudTd class="scan-state">
                    @scanStateLabels[scanState.ScanState]
                </MudTd>

                <MudTd class="last-operation-time">
                    <LocalTime DateTime="scanState.LastModifiedTime" />
                </MudTd>
            }
        </RowTemplate>

        <PagerContent>
            <MudTablePager AllItemsText="" />
        </PagerContent>
    </MudTable>
</div>
