@page "/management/cataloguescanstates"

@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Logging
@using CatalogueScanner.ConfigurationUI.Service

@inject IStringLocalizer<CatalogueScanStates> S
@inject CatalogueScanStateService CatalogueScanStateService
@inject ILogger<CatalogueScanStates> Logger
@inject IMatDialogService DialogService

<div>
    <MatH3>Catalogue Scan States</MatH3>

    <MatTable Items="tableData" @bind-PageSize="pageInfo.PageSize" ShowPaging="false" >
        <MatTableHeader>
            <th></th>
            <th>Catalogue Type</th>
            <th>Store</th>
            <th>Catalogue ID</th>
            <th>Scan State</th>
            <th>Last operation time</th>
        </MatTableHeader>

        <MatTableRow Context="scanState">
            @if (hasNoData)
            {
                <td colspan="6">No data available.</td>
            }
            else
            {
                <td class="actions">
                    <MatTooltip Tooltip="Reset" Context="tooltip">
                        <MatIconButton RefBack="tooltip" Icon="delete" @onclick="@(args => ResetScanState(scanState))"></MatIconButton>
                    </MatTooltip>
                </td>

                <td class="catalogue-type">
                    @scanState.CatalogueType
                </td>

                <td class="store">
                    @scanState.Store
                </td>

                <td class="catalogue-id">
                    @scanState.CatalogueId
                </td>

                <td class="scan-state">
                    @scanStateLabels[scanState.ScanState]
                </td>

                <td class="last-operation-time">
                    @scanState.LastOperationTime.ToString("G")
                </td>
            }
        </MatTableRow>
    </MatTable>

    <MatPaginator Length="PaginatorLength" PageSize="PageSize" Page="OnPage"></MatPaginator>

    @if (loading)
    {
        <MatProgressCircle Indeterminate="true"></MatProgressCircle>
    }
</div>